<!DOCTYPE html>
<html>
   <head></head>
   <body>
      <div class=" bg-light">
      <nav class=" container navbar navbar-light">
         <ul class="nav justify-content-end">
            <li class="nav-item">
               <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/logout">Logout</a>
            </li>
         </ul>
      </nav>
   </div>
      <div class="container p-3">
         <div class="row">
            <div class="col">
               <h1>Dashboard</h1>
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="col">
               <p>Hello and welcome {{ user.username |e}}!</p>
               <p>Your phone number {{ user.phone |e}}</p>
            </div>
         </div>
      </div>


      <div class="card container mt-2">
         <h1 class="text-center">Comment App</h1>
 
 
         <form action="" method="POST" class="container">
             <div class=" mb-3">
                 <label class="form-label" for="post_title">Comment Title</label>
                 <input class="form-control" type="text" name="title" placeholder="Enter post title" id="post_title"
                     required>
             </div>
             <div class=" mb-3">
                 <label class="form-label" for="post_content">Write your comment</label>
                 <input class="form-control" name="content" id="hmhcontent" placeholder="Write something..." required>
             </div>
             <div class=" mb-3">
                 <label class="form-label" for="author_name">Author Name</label>
                 <input class="form-control" type="text" name="author" placeholder="Enter author name" id="author_name"
                     required>
             </div>
 
             <div class=" mb-3">
                 <label class="form-label" for="author_image">Author image</label>
                 <input class="form-control" type="text" name="image" placeholder="Enter author image url" id="author_image"
                     required>
             </div>
 
             <button type="submit" value="POST" class="btn btn-success"> Post</button>
 
 
         </form>
 
 
     </div>

     
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!-- jQuery library -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>
</html>